<div class="row pt-1">
    <div class="col-md-5 d-flex">
        <img class="paislogo" src="/assets/klubilogo.png" alt="">
        <div class="paisNimi">
            MATKA KLUBI
        </div>
    </div>
    <div class="col-md-7 pais-menyy">
        <ul class="d-none d-md-flex flex-column flex-md-row">
            <li><a href="/">Esileht</a></li>
            <li><a href="/uudised">Uudised</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>

</div>